.sidenav {
  background: #002d69;
  width: 200px;
}

.sidenav a {
  color: #fff;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 40px;
  background: #f2f2f2;
  height: 100vh;
  width: 87vw;
  position: fixed;
}
