* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.msg-success {
  background-color: #28a745;
  color: #f2f2f2;
}

.msg-danger {
  background-color: #faa93e;
  color: #f2f2f2;
}

.msg-warn {
  background-color: #ff3e31;
  color: #f2f2f2;
}
